{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Face Recognition Attendance System</h1>
        <div class="options">
            <a href="{% url 'admin_dashboard' %}" class="btn">Admin Dashboard</a>
            <a href="{% url 'monitor_panel' %}" class="btn">Monitor Panel</a>
        </div>
    </div>
</body>
</html>
